<mat-toolbar color="primary" class="mat-elevation-z6">
  <a routerLink="home" class="link-text">
    <mat-icon>add_shopping_cart</mat-icon>
    E-commerce</a>
  <div class="spacer"></div>
  <a mat-button>Categories</a>
  <a mat-button class="link-text" routerLink="about">About Us</a>

  <button class="cart-icon" mat-mini-fab color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="warn">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>

  <a color="accent" mat-raised-button>SignUp</a>
</mat-toolbar>
